TAG=0.0
IP_ADDR=A.B.C.D
DEFAULT_GW=A.B.C.1
VPN_SERVER_IP=E.F.G.H
VPN_IPSEC_PSK=
VPN_USER=username
VPN_PASSWORD=
MAIN_NETIF=eth0
PPP_NETIF=ppp0
DNS1=8.8.8.8
DNS2=8.8.4.4
CONNECTON_POLLING=30
#SHAPE_NET1=a.b.c.d/24
#SHAPE_SPEED1=300
#SHAPE_NET2=e.f.g.h/32
#SHAPE_SPEED2=10
PRINT_INFO=false
PRINT_DEBUG=false
